body {
    background-color: #4a2e63;
    /* #9C9AC1 for light mode background */
    color:#ffffff
}

body.light-mode {
    background-color: #7d58a3;
    color: #000000
}

h1 {
    color:white;
    text-align: center;
}

#taskList {
    margin-top: 20px;
}

#lightMode {
    text-align: right;
}

#creationWindow {
    display: none;
}

#tag {
    text-align: end;
}